<!-- env for mix phx.server -->

export GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
export GOOGLE_CLIENT_SECRET=xyz
export FACEBOOK_APP_ID=12345
export FACEBOOK_APP_SECRET=abcde
export SECRET_KEY_BASE=123354
export SPA_DIR="/priv/static/spa/"

<!-- env for Docker -->

POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=phx_solid_prod
DATABASE_URL=ecto://postgres:postgres@db:5432/phx_solid_prod
PGDATA=var/lib/postgresql/data
SPA_DIR=/priv/static/spa/
PHX_HOST=localhost
RELEASE_COOKIE=supersecret
MIX_ENV=prod
PHX_SERVER=true

```bash
source .env
```
