localhost:80 {
    encode gzip

    handle_path /assets/ {
        root * ./priv/static/assets
        file_server
        header {
             Cache-Control "public"
            Expires "max"
        }
    }
    handle_path /spa/ {
        root * ./priv/static/spa
        file_server
        header {
            Cache-Control "public"
            Expires "max"
        }
    }


    handle  {
        reverse_proxy localhost:4000
    }
}


 