<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="run an SPA through PHoenix" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Render SolidJS in a Phoenix app</title>
    <meta name="csrf-token" content={Plug.CSRFProtection.get_csrf_token()} />

    <script nonce="f35697c2-bf93-418e-a119-8158c69a2b3a">
      window.userPhxToken = "<%= assigns[:user_phx_token] %>";
    </script>

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script
      nonce="123456789"
      defer
      phx-track-static
      type="module"
      type="text/javascript"
      src={~p"/assets/app.js"}
    >
    </script>
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>
</html>
